@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

:root{
    --pink-bg: #FEFAE0;
    --blue-bg: #1A5F7A;
    --orange: #E38B29;
    --white: #fff;
}

.navbar{
    background: var(--pink-bg);
    z-index: 1000;
}
.btn__book{
    background: var(--blue-bg);
}
.btn__book_signup{
    border: 1px solid var(--blue-bg);
    color: var(--blue-bg);
}


/*---------------------hero styling------------------*/

.hotelAmeneties{
    background: linear-gradient(to bottom,#1A5F7A,transparent),url('../assets/hero_sec.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hotelAmeneties_content{
    min-height: 100vh;
}


/*-----------------short statement---------------*/

.shortStatement{
    background: var(--pink-bg);
}
.shortStatement_content{
    min-height: 70vh;
}
.shortStatement_content p{
    color: var(--blue-bg);
}

/*----------------take a dip--------------------*/

.takeADip{
    background: var(--blue-bg);
}
.takeADip_content{
    min-height: 100vh;
    color: var(--pink-bg);
}
.takeADip_content .title{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}
.takeADip_content .btn__booknow{
    background: var(--orange);
    color: var(--pink-bg);
}

/*---------------------  resort_SPA styling------------*/

.resort_SPA_content{
    min-height: 100vh;
    color: var(--blue-bg);
}
.btn_bookNowOffers{
    background: var(--orange);
    color: var(--white);
}
.offersCard{
    background: #F0F6F9;
    color: var(--blue-bg);
}
.resort_SPA h1{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}
.title{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}

/*-----------------footer styling-----------------*/

.left_content{
    background: var(--pink-bg);
    min-height: 50vh;
}
.right_content{
    background: var(--blue-bg);
    min-height: 50vh;
}
.footer_content{
    color: var(--blue-bg);
}
.footer_content .foot p{
    font-size: 11px;
}
.footer .plan_footer{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}
.footer .hotel_footer{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}
.plan li a{
    color: var(--pink-bg);
}
.btn_subscribe{
    background: var(--orange);
    color: var(--pink-bg);
}
.hotelReserve{
    color: var(--pink-bg);
}
.subscribe input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.subscribing-info{
    color: #a3a1a1;
}