@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

:root{
    --pink-bg: #FEFAE0;
    --blue-bg: #1A5F7A;
    --orange: #E38B29;
    --white: #fff;
    --dirty-white: #FEFAE0;
}
.navbar{
    background: var(--pink-bg);
    z-index: 1000;
}
.btn__book{
    background: var(--blue-bg);
    border-radius: 0 !important
}
.btn__book_signup{
    border: 1px solid var(--blue-bg);
    color: var(--blue-bg);
}

.btn__book:hover{
    background:#E38B29 !important
}


/*-------------------- hero styling-------------------*/

.hero{
    background: linear-gradient(to bottom,#1A5F7A,transparent),url('../assets/hero_sec.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    min-height: 100vh;
    width: 100%;
    height: 100%;
}
.CheckAvailability{
    background: var(--dirty-white);
    border: 3px solid #E38B29;
    border-radius:0;
    height:150px;

}
.CheckAvailability form input{
    background: #e9e8e8;
    border: none;
}

.landing__logo{
    margin-top:150px;
}
/*------------------- experience styling---------------------*/

.experience{
    background: var(--pink-bg);
}
.experience-content{
    height: 50vh;
    color: var(--blue-bg);
}
.experience-content p{
    width: 60%;
    margin: 0 auto;
}

/*---------------- visiting styling --------------------*/

.visit-content .left-content{
    background: var(--orange);
    padding: 0;
}
.visit-content .left-content span{
    background: var(--blue-bg);
    color: var(--pink-bg);
}

/*------------------featured styling ------------------*/

.featured{
    background: var(--blue-bg);
    padding: 5rem 0;
}
.featured__title{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}
.btn__offers{
    background: var(--orange);
}
.featured-content .left-content img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

/*--------------our guest-------------------*/

.ourGuest{
    background: var(--pink-bg);
}
.ourGuest__content{
    height: 50vh;
    color: var(--blue-bg);
}
.slide-1{
    background: var(--pink-bg);
}
.slide-2{
    background: var(--pink-bg);
}
.slide-3{
    background: var(--pink-bg);
}

/*-------------rooms styling---------------*/

.rooms{
    background: linear-gradient(to right,#FEFAE0,transparent),url('../assets/DR_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.rooms-content{
    min-height: 100vh;
    color: var(--blue-bg);
}
.rooms-content .title{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}
.btn_view{
    background: var(--orange);
    color: var(--pink-bg);
}

/*----------------weddings styling---------------*/

.weddings__content .left_content{
    background-image:url('../assets/wedding.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100vh;
    background: rgba(26, 95, 122, 0.6);
}
.weddings__content .right_content{
    background-image: url('../assets/events.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    color: var(--pink-bg);
}
.view_details{
    background: var(--orange);
    color: var(--pink-bg);
}


/*--------------------------location styling----------------*/

.location{
    background: var(--pink-bg);
    color: var(--blue-bg);
}
.location_content{
    min-height: 100vh;
}

.location_content .title{
    border-left: 6px solid var(--orange);
    padding-left: .6rem;
}

.btn__explore{
    background: var(--orange);
    color: var(--pink-bg);
}

/*--------------gallery styling----------------*/

.gallery__content{
    display: grid;
    color: var(--blue-bg);
}
.btn__seemore{
    background: var(--orange);
    color: var(--pink-bg);
}

/*----------------footer styling----------------*/

.left_content{
    background: var(--pink-bg);
    min-height: 50vh;
}
.right_content{
    background: var(--blue-bg);
    min-height: 50vh;
}
.footer_content{
    color: var(--blue-bg);
}
.footer_content .foot p{
    font-size: 11px;
}
.footer .plan_footer{
    border-left: 5px solid var(--orange);
    color:#FEFAE0;
    padding-left: .8rem;
}
.footer .hotel_footer{
    border-left: 5px solid var(--orange);
    color:#FEFAE0;
    padding-left: .8rem;
}
.plan li a{
    color: var(--pink-bg);
}
.btn_subscribe{
    background: var(--orange);
    color: var(--pink-bg);
}
.hotelReserve{
    color: var(--pink-bg);
}
.subscribe input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.subscribing-info{
    color: #a3a1a1;
}





@media (min-width: 991px){
    /* location styling */
    .btn__explore{
        width: 200px;
    }
    .location_content p{
        width: 50%;
    }

    /* room styling */
    .rooms-content p{
        width: 50%;
    }
    .btn_view{
        width: 200px;
    }
    
    
}


